@import '../../utilities/variables';

.portfolio{
    background: $primary-color;
    position: absolute;
    top: 100px;
    left: 100px;
    height: 500px;
    width: 500px;
    transform: translateX(0);
    transition: transform 500ms;
}

.portfolio-right-of-screen{
    @extend .portfolio;
    transform: translateX(100vw);
}

.portfolio-left-of-screen{
    @extend .portfolio;
    transform: translateX(-100vw);
}
