@import "../../utilities/variables";

.about {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0px;
    display: grid;
    grid-template: 
    '... sidebar header header header header ...'
    '... sidebar header header header header ...'
    '... sidebar main main main main ...'
    '... sidebar main main main main ...'
    '... sidebar main main main main ...'
    '... sidebar main main main main ...'
    '... sidebar main main main main ...'
    '... sidebar main main main main ...'
    'footer footer footer footer footer footer footer'
    'footer footer footer footer footer footer footer';
    grid-gap: 10px;
    grid-template-columns: 1fr repeat(5, 2fr) 1fr;
    grid-template-rows: repeat(10, minmax(100px, 1fr));
    transition: transform 500ms;
    
    @media (max-width: $extra-large){
        /*
        grid-template: 
        '... sidebar header header header header header'
        '... sidebar header header header header header'
        '... sidebar main main main main ...'
        '... sidebar main main main main ...'
        '... sidebar main main main main ...'
        '... sidebar main main main main ...'
        '... sidebar main main main main ...'
        '... sidebar main main main main ...'
        'footer footer footer footer footer footer footer'
        'footer footer footer footer footer footer footer';
        grid-template-rows: repeat(10, minmax(100px, 1fr));
        grid-template-columns: 1fr repeat(5, 2fr) 1fr;
        */
    }

    @media (max-width: $large) {
        grid-template: 
        'sidebar header header header header header header'
        'sidebar header header header header header header'
        'sidebar main main main main main main'
        'sidebar main main main main main main'
        'sidebar main main main main main main'
        'sidebar main main main main main main'
        'sidebar main main main main main main'
        'sidebar main main main main main main'
        'footer footer footer footer footer footer footer'
        'footer footer footer footer footer footer footer';
        grid-template-columns: 1fr repeat(5, 2fr) 1fr;
        grid-template-rows: repeat(10, minmax(100px, 1fr));

    }
}

.about-left-of-screen{
    @extend .about;
    transform: translateX(-100vw);
}
