@import "../../utilities/variables";


.navbar {
    background: $primary-color;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
    
    i {
        margin: 0 8px;
        font-size: 16px;
    }

    @media (max-width: $extra-large) {

    }
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}

.navbar-banner{
    font-size: 18px;
    position: absolute;
    text-transform: uppercase;
    color: $primary-text;
    height: 100%;
    left: 0;
    display: inline-block;
}

.navbar-dropdown-button{
    height: 100%;
    width: 50px;
    padding-top: 28px;
    padding-bottom: 28px;
    background: transparent;
    border: none;
    float: right;
    display: none;
    cursor: pointer;
    position: relative;

    @media(max-width: $large){
        display: block;
    }
}

.dropdown-effect{
    position: absolute;
    height: 4px;
    top: 50%;
    width: 80%;
    left: 10%;
    background: black;
    transform: translateY(-50%);

    &::before{
        content: '';
        position: absolute;
        height: 4px;
        top: -200%;
        width: 100%;
        background: black;
        transform: translateX(-50%);
    }

    &::after{
        content: '';
        position: absolute;
        height: 4px;
        top: 200%;
        width: 100%;
        background: black;
        transform: translateX(-50%);
    }
}

.navbar ul{
    margin: 0;
    float: right;
    list-style: none;

    @media (max-width: $extra-large){

    }

    @media (max-width: $large){
        //visibility: hidden;
        float: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: $background-color;
        padding: 0;
    }

    @media (max-width: $medium) {
        
    }
}

.navbar-open{
    @media(max-width: $large){
        display: block;
    }
}

.navbar-closed{
    @media(max-width: $large){
        display: none;
    }
}


.navbar li{
    margin-left: 50px;
    display: inline-block;
    position: relative;

    @media (max-width: $large) {
        display: block;
        margin: 0;
        padding: 1em 2em;
        border-bottom: solid $background-color*1.1 1px;
        
        &:last-child{
            border: none;
        }
    }

}

.navbar-button{
    height: 100%;
    width: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent;
    border: none;
    color: $primary-text;
}

.navbar-button::first-letter{
    text-transform: capitalize;
}

.navbar-button::before{
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: $primary-text;
    transition: width ease-in-out 250ms;
    position: absolute;
}

.navbar-button:hover::before{
    width: 100%;
}

.navbar-button-active{
    @extend .navbar-button;
}

.navbar-button-active::before{
    width: 100%;
}

